{
  "parser": "babel-eslint",
  "extends": ["plugin:prettier/recommended"], // 如果同时使用了eslint和prettier发生冲突了，会关闭掉与prettier有冲突的规则，也就是使用prettier认为对的规则
  "plugins": ["prettier"], // eslint 会使用pretter的规则对代码格式化
  "rules": {
    "semi": 0, // 行末分号，根据编码习惯选择添加，这里配置的不加分号
    "no-console": 0,
    "comma-dangle": [2, "always-multiline"],
    "max-len": 0,
    "space-before-function-paren": [0, "always"],
    "no-unused-expressions": [
      0,
      {
        "allowShortCircuit": true,
        "allowTernary": true
      }
    ],
    "arrow-body-style": [0, "never"],
    "func-names": 0,
    "prefer-const": 0,
    "no-extend-native": 0,
    "no-param-reassign": 0,
    "no-restricted-syntax": 0,
    "no-eval": 0,
    "no-continue": 0,
    "no-unused-vars": [
      0,
      {
        "ignoreRestSiblings": true
      }
    ],
    "no-underscore-dangle": 0,
    "global-require": 0,
    "import/no-extraneous-dependencies": 0,
    "import/prefer-default-export": 0,
    "import/no-unresolved": 0,
    "import/extensions": 0,
    // react
    "react/jsx-first-prop-new-line": 0,
    "react/jsx-filename-extension": 0,
    "react/jsx-no-bind": 0,
    "react/no-array-index-key": 0,
    "react/require-default-props": 0,
    "react/forbid-prop-types": 0,
    "react/no-string-refs": 0,
    "react/no-find-dom-node": 0,
    "react/no-danger": 0,
    "react/prop-types": 0,
    "react/display-name": 0,
    "react/no-deprecated": 0,
    "react/no-direct-mutation-state": 0,
    "jsx-a11y/href-no-hash": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "prettier/prettier": 2 // 这项配置 对于不符合prettier规范的写法，eslint会提示报错
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 8,
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  "settings": {
    "import/resolver": "node"
  }
}
